---
- name: Delete virtual server ports
  a10_slb_virtual_server_port:
    name: "{{ lb_listener.name }}"
    virtual_server_name: "{{ loadbalancer.name }}"
    port_number: "{{ lb_listener.protocol_port }}"
    protocol: "{{ lb_listener.protocol | lower }}"
    state: absent
